@media(max-width:1125px) {
    .main {
        grid-template-rows: repeat(4, 245px);
        grid-template-columns: repeat(2, 255px);
        padding: .5em; /* Margin */
    }

    .attribution {
        position: relative;
        margin-top: 5em;
    }
}

@media(max-width:590px) {
    .main {
        grid-template-rows: 204px repeat(6, 162px);
        grid-template-columns: minmax(auto, 500px);
        padding: 1.3em; /* Margin */
        gap: 1.3em;
    }

    .section__person {
        grid-row: unset;
    }    

    .person__profile {
        display: flex;
        align-items: center;
        gap: 1em;
        height: 133px;
    }

    .person__image {
        width: 65px;
    }

    .person__text {
        margin-top: 0em;
    }

    .person__name {
        font-size: 1.5rem;
    }

    .section__person__btns {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        height:100px;
        padding: 1.3em 2em;
    }

    .person__btns {
        align-items: end;
        flex-direction: row;
        justify-content: space-between;
    }

    #daily--btn,
    #weekly--btn,
    #monthly--btn {
        font-size: 1rem
    }

    .card__activity__previous__div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card__activity__infos {
        height: 116px;
        padding: 1.3em;
    }

    .card__activity__title__div {
        margin-bottom: .5em;
    }

    .card__activity__hours {
        margin-bottom: unset;
        font-size: 1.9rem;
    }
}