@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    /* ### Primary */
    --Blue: hsl(246, 80%, 60%);
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    /* ### Neutral */
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --White: #ffffff;
}

body {
    min-height: 100vh;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue);
}

.main {
    display: grid;
    grid-template-rows: repeat(2, 245px);
    grid-template-columns: repeat(4, 255px);
    gap: 1.686em;
}

.section__person {
    grid-row: 1 / 3;
}

.person__profile {
    position: relative;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--Blue);
    z-index: 2;
    height: 355px;
}

.person__image {
    border-radius: 100%;
    width: 85px;
    border: 3px solid var(--White);
}

.person__text {
    margin-top: 2em;
}

.person__report {
    color: var(--Pale-Blue);
    display: block;
    font-size: .9rem;
}

.person__name {
    font-weight: 300;
    color: var(--White);
    font-size: 2.5rem;
}

.section__person__btns {
    display: flex;
    align-items: end;
    background-color: var(--Dark-blue);
    width: 100%;
    height:201px;
    border-radius: 1rem;
    margin-top: -2em;
    padding: 1.7em 2em;
}

.person__btns {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3em;
    width: 100%;
}

#daily--btn,
#weekly--btn,
#monthly--btn {
    background-color: transparent;
    color: var(--Desaturated-blue);
    font-size: .9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

#daily--btn:active,
#weekly--btn:active,
#monthly--btn:active {
    transform: scale(0.92);
}

#daily--btn:hover,
#weekly--btn:hover,
#monthly--btn:hover {
    color: var(--White);
}

#weekly--btn {
    color: var(--White);
}

/* CARDS START */
/* CARDS START */
/* CARDS START */
.card__work,
.card__play,
.card__study,
.card__exercise,
.card__social,
.card__selfcare {
    position: relative;
}

.work__background,
.play__background,
.study__background,
.exercise__background,
.social__background,
.selfcare__background {
    text-align: end;
    border-radius: 1rem;
    height: 72px;
    overflow: hidden;
}

.work__background img,
.play__background img,
.study__background img,
.exercise__background img,
.social__background img,
.selfcare__background img {
    margin: 0rem .9rem 0em 0em;
    width: 70px;
}

.work__background {
    background-color: var(--Light-red-work);
} 

.play__background {
    background-color: var(--Soft-blue-play);
}

.study__background {
    background-color: var(--Light-red-study);
}

.exercise__background {
    background-color: var(--Lime-green-exercise);
}

.social__background {
    background-color: var(--Violet-social);
}

.selfcare__background {
    background-color: var(--Soft-orange-self-care);
}

.work__infos,
.play__infos,
.study__infos,
.exercise__infos,
.social__infos,
.selfcare__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.5em;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    padding: 1.5em;
    background-color: var(--Dark-blue);
    height: 200px;
    transition: .5s ease;
}

.work__infos:hover,
.play__infos:hover,
.study__infos:hover,
.exercise__infos:hover,
.social__infos:hover,
.selfcare__infos:hover {
    background-color: var(--Desaturated-blue);
}
/* CARDS END */
/* CARDS END */
/* CARDS END */

/* CARD INFOS START */
/* CARD INFOS START */
/* CARD INFOS START */
.work__title__div,
.play__title__div,
.study__title__div,
.exercise__title__div,
.social__title__div,
.selfcare__title__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.work__title__txt,
.play__title__txt,
.study__title__txt,
.exercise__title__txt,
.social__title__txt,
.selfcare__title__txt {
    color: var(--White);
}

.work__title__img,
.play__title__img,
.study__title__img,
.exercise__title__img,
.social__title__img,
.selfcare__title__img {
    cursor: pointer;
    transition: 0.2s ease;
}

.work__title__img:active,
.play__title__img:active,
.study__title__img:active,
.exercise__title__img:active,
.social__title__img:active,
.selfcare__title__img:active {
    transform: scale(0.92);
}

.work__hours,
.play__hours,
.study__hours,
.exercise__hours,
.social__hours,
.selfcare__hours {
    display: block;
    margin-bottom: .5rem;
    font-size: 3rem;
    color: white;
    font-weight: 300;
}

.work__last__period,
.work__last__hours,
.play__last__period,
.play__last__hours,
.study__last__period,
.study__last__hours,
.exercise__last__period,
.exercise__last__hours,
.social__last__period,
.social__last__hours,
.selfcare__last__period,
.selfcare__last__hours {
    color: var(--Pale-Blue);
    font-size: .9rem;
}
/* CARD INFOS END */
/* CARD INFOS END */
/* CARD INFOS END */

.attribution {
    position: absolute;
    text-align: center;
    margin-top: 64em;
    font-size: .9rem;
    padding: .5rem;
}

.attribution p {
    color: var(--White);
}

.attribution a {
    color: var(--Lime-green-exercise);
}